/* Theme */

main {
	background:#cec43d;
	background: linear-gradient(to right bottom, #0a4575 50%, #243d88 50%);
	color: #ffffff;
}

.icons-social a {
	color: #0277BD;
}

.icons-social a svg path{
	fill: #0277BD;
}